* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  a {
    color: #fff;
  }
  /* Style Detail */
  .locxs {
    background: #ea1e59;
    color: #fff;
  }
  .header-detail {
    background: #2c0187;
    position: sticky;
    top: 0;
  }
  .header-detail h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: 400;
    padding: 20px 30px;
  }
  .main-detail {
    background-image: url("https://i.ibb.co/ncjRXkg/bg.jpg");
    background-size: cover;
  }
  .section-detail {
    padding-top: 30vh;
    padding: 10em 0;
  }
  .card-detail {
    background: #f3f3f3;
    border-radius: 45px;
    filter: drop-shadow(0px 6px 1px rgba(0, 0, 0, 0.21));
    margin: auto;
    position: relative;
    width: 546px;
  }
  .card-detail h2 {
    color: #2c0187;
    font-size: 32px;
    font-weight: 400;
    padding-top: 71px;
    text-align: center;
    text-decoration: underline;
  }
  .card-detail p {
    font-size: 17px;
    padding: 10px 23px;
  }
  .card-detail .card-span-name {
    color: #2c0187;
  }
  .card-detail em {
    color: #2c0187;
    font-weight: bold;
  }
  
  /*ANIMACIÓN*/
  .card-detail .card-heart {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 40px;
    background-image: url("https://i.ibb.co/xsDGDkn/heart.png");
    height: 100px;
    width: 100px;
  }
  .card-detail .card-heart:hover {
    animation-name: heart;
    animation-duration: 1s;
    animation-timing-function: steps(29);
    cursor: pointer;
  }
  /*ANIMACIÓN*/
  
  .card-detail .card-perfil {
    border-radius: 50%;
    left: 37%;
    position: absolute;
    top: -100px;
    width: 159px;
  }
  .card-detail .card-guns {
    text-align: center;
  }
  .card-detail .card-guns-img {
    margin: 15px 13px;
    width: 60px;
  }
  .card-detail .card-button {
    background: #2c0187;
    border-radius: 0px 0px 45px 45px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 87px;
    width: 100%;
  }
  .footer-detail {
    background: #2c0187;
    text-align: center;
    height: 80px;
  }
  .footer-detail p {
    color: #fff;
    font-size: 15px;
    padding: 26px;
  }
  
  @keyframes heart {
    0% {
      background-position: 0px;
    }
    100% {
      background-position: -2900px;
    }
  }
  
  @media (max-width: 768px) {
    .card-detail {
      width: 100%;
    }
  }
  @media (max-width: 360px) {
    .card-detail .card-perfil {
      left: 28%;
    }
    main {
      height: 140vh;
    }
  }
  